/* Makes the cards into a grid */
.emojis {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 700px;
}

/***********************************
                GRID STYLES
***********************************/
.emoji {
  display: flex;
  flex-direction: column;
  border: 1px solid #777;
  border-radius: 6px;
  padding: 1rem;
}

/***********************************
                CARD STYLES
***********************************/
/* Centers the emoji */
.emoji .icon {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

/* Styles the card heading */
.emoji h2 {
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #ccc;
}

/* Adds space under the text */
.emoji p {
  margin-bottom: 1rem;
}

/* Keeps the button at the bottom */
.emoji a {
  margin-top: auto;
  display: block;
  padding: 0.75rem 1rem;
  background: #8035b3;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
